<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="product_list" sortOrder="10" translate="label">
			<label>Tm ProductList</label>
		</tab>
		<section id="product_list" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Product List setting</label>
			<tab>product_list</tab>
			<resource>Tm_ProductList::config_tm_productlist</resource>
			<group id="general_setting" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General Setting</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="frontend_setting" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
				<label>Frontend Setting</label>
				<field id="show_product" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Number of product to display</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
